<div class="sort-wrapper">
    <div class="govuk-form-group">
        <label class="govuk-label" for="projectData">
            Order by
        </label>
        <select class="govuk-select" id="projectData" name="projectData">
            <option value="recent" selected>Recently completed</option>
        </select>
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="showMore2">
            Show only
        </label>
        <select class="govuk-select" id="showMore2" name="showMore2">
            <option value="5">5 assets</option>
            <option value="10" selected>10 assets</option>
            <option value="20">20 assets</option>
            <option value="30">30 assets</option>
            <option value="40">40 assets</option>
        </select>
    </div>
</div>