<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
<!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;l">-->
<!--            <h1 class="govuk-fieldset__heading">-->
<!--                How would you like to be contacted?-->
<!--            </h1>-->
<!--        </legend>-->
<!--        <div id="contact-hint" class="govuk-hint">-->
<!--            Select all options that are relevant to you.-->
<!--        </div>-->
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" >
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                    Length
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/length.html" %}
                </div>

            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                    Height
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/height.html" %}
                </div>

            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                    Volume
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/volume.html" %}
                </div>
            </div>
        </div>

    </fieldset>
</div>


