<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
<!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;l">-->
<!--            <h1 class="govuk-fieldset__heading">-->
<!--                How would you like to be contacted?-->
<!--            </h1>-->
<!--        </legend>-->
<!--        <div id="contact-hint" class="govuk-hint">-->
<!--            Select all options that are relevant to you.-->
<!--        </div>-->
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="length" name="measurements" type="checkbox" value="length" data-aria-controls="conditional-length" {{ checked("measurements", "length") }} >
                <label class="govuk-label govuk-checkboxes__label" for="length">
                    Length
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-length">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/length.html" %}
                </div>

            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="height" name="measurements" type="checkbox" value="height" data-aria-controls="conditional-height" {{ checked("measurements", "height") }} >
                <label class="govuk-label govuk-checkboxes__label" for="height">
                    Height
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-height">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/height.html" %}
                </div>

            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="volume" name="measurements" type="checkbox" value="volume" data-aria-controls="conditional-volume" {{ checked("measurements", "volume") }} >
                <label class="govuk-label govuk-checkboxes__label" for="volume">
                    Volume
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-volume">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/volume.html" %}
                </div>
            </div>
        </div>

    </fieldset>
</div>


