<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
<!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;l">-->
<!--            <h1 class="govuk-fieldset__heading">-->
<!--                How would you like to be contacted?-->
<!--            </h1>-->
<!--        </legend>-->
<!--        <div id="contact-hint" class="govuk-hint">-->
<!--            Select all options that are relevant to you.-->
<!--        </div>-->
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="construction_duration" name="construction_duration" type="checkbox" value="" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-checkboxes__label" for="construction_duration">
                    Construction duration
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/construction-duration.html" %}
                </div>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="region" name="region" type="checkbox" value="region" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-checkboxes__label" for="region">
                    Region
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/region.html" %}
                </div>

            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sector" name="contact" type="checkbox" value="sector" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-checkboxes__label" for="sector">
                    Sector
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/sector.html" %}
                </div>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="work_type" name="work_type" type="checkbox" value="work_type" data-aria-controls="conditional-contact-4">
                <label class="govuk-label govuk-checkboxes__label" for="work_type">
                    Work type
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
                <div class="govuk-form-group">
                    {% include "includes/filter-groups/work-type.html" %}
                </div>
            </div>
        </div>
    </fieldset>
</div>



