<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <p class="govuk-fieldset__heading" style="font-size: 20px; letter-spacing: 1px">
                Sort outliers
            </p>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-!-font-size-16">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="include-outliers" name="sort-outliers" type="radio" value="1" checked>
                <label class="govuk-label govuk-radios__label" for="include-outliers">
                    Include outliers
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="exclude-outliers" name="sort-outliers" type="radio" value="0">
                <label class="govuk-label govuk-radios__label" for="exclude-outliers">
                    Exclude outliers
                </label>
            </div>
        </div>
    </fieldset>
</div>