.ccms-loader {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader {
    margin-top: 30px;
    display: none;
}

.ajax-loader-text {
    text-align: center;
}
.bold-figures { 
    color:  #28A197;
    font-size: 80px;
    font-weight: bold;
}

.results-item {
    list-style: none;
    
}

.govuk-accordion__section {
    background-color: #e5e5e5;
    padding: 20px 20px 0px;
    margin-bottom: 15px;
}

.js-enabled {
    .govuk-accordion__section-header {
        border-top: 0;
    }

    .govuk-accordion__controls {
        display: inline-block;
        text-align: left;
        margin-bottom: 15px;
    }
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .figures-data {
        .govuk-heading-s {
            margin-bottom: 10px;
        }
    }
}

.box-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;

    .box {
        border: 1px solid #B1B4B6;
        width: 27%;
        padding: 20px;

        .image-place-holer {
            background-color:#B1B4B6;
            height: 197px;
            width: 300px;
            margin-bottom: 20px;
        }
    }
}

.no-border {
    .box {
        border: none;
        padding: 0;
    }
}

.sort {
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 10px;

    label {
        padding-top: 8px;
        padding-right: 10px;
    }
}

.no-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
    li {
        margin-bottom:10px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-accordion__section-button{
        font-size: 18px;
    }
}

.index{
    ul {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 35px;
    }

    .current-sprint {
        font-size: 18px;
    }

    li {
        margin-bottom: 8px;
        list-style: none;
    }
}

.blue {
    border: 2px solid #1D70B8;
}

.blue-alt{
    border: 1px solid #1D70B8;
}

.govuk-radios{
    .sectors {
        margin-bottom: 50px;
    }
}

.hidden {
    visibility: hidden;

    &:focus {
        visibility: visible;
    }
}

.ipa-custom-textfield {
    .govuk-form-group {
        width: 250px;
        display: inline-block;
        margin-bottom: 0;

        input {
            display: inline-block;
            width: 100px;
            z-index: 2;
            position: relative;
        }

        .metric {
            display: inline-block;
            width: auto;
            height: 25px;
            padding: 6px 6px 5px;
            border:2px solid #0b0c0c;
            margin-left:-6px ;
            position: relative;
            z-index: 1;
            background-color: #F3F2F1;
            vertical-align: top;
        }
    }


}

