//
.ccms-loader {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader {
    margin-top: 30px;
    display: none;
}

.ajax-loader-text {
    text-align: center;
}
.bold-figures { 
    color:  #28A197;
    font-size: 80px;
    font-weight: bold;
}
.back-link-wrapper {
    margin-bottom: 20px;
}

.govuk-accordion__section {
    background-color: #e5e5e5;
    padding: 20px 20px 0px;
    margin-bottom: 15px;
}

.js-enabled {
    .govuk-accordion__section-header {
        border-top: 0;
    }

    .govuk-accordion__controls {
        display: inline-block;
        text-align: left;
        margin-bottom: 15px;
    }

    .govuk-accordion {
        border: none;
    }
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .figures-data {
        .govuk-heading-s {
            margin-bottom: 10px;
        }
    }
}

.box-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;

    .box {
        border: 1px solid #B1B4B6;
        width: 27%;
        padding: 20px;

        .image-place-holer {
            background-color:#B1B4B6;
            height: 197px;
            width: 300px;
            margin-bottom: 20px;
        }
    }
}

.no-border {
    .box {
        border: none;
        padding: 0;
    }
}

//.sort {
//    display: flex;
//    justify-content: flex-end;
//    margin-bottom: 10px;
//
//    label {
//        padding-top: 8px;
//        padding-right: 10px;
//    }
//}

.sort {
    select {
        width: 100%;
    }
}

.compare-dataset {
    background-color: #CCE2D8;
    display: flex;
    justify-content: right;
    margin: -50px 0 20px 0;
    text-align: right;

    .compare {
        width: 50%;
        padding: 20px 20px;

        p {
            margin: 8px 0 0 0;
        }

        .govuk-button {
            margin-bottom: 0;
        }

        &.left {
            text-align: left;
        }
    }
}

.no-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
    li {
        margin-bottom:10px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-accordion__section-button{
        font-size: 18px;
    }
}

.index{
    ul {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 35px;
    }

    .current-sprint {
        font-size: 18px;
    }

    li {
        margin-bottom: 8px;
        list-style: none;
    }
}

.blue {
    border: 2px solid #1D70B8;
}

.blue-alt{
    border: 1px solid #1D70B8;
}

.govuk-radios{
    .sectors {
        margin-bottom: 50px;
    }
}

.hidden {
    visibility: hidden;

    &:focus {
        visibility: visible;
    }
}

.ipa-custom-textfield {
    .govuk-form-group {
        width: 250px;
        display: inline-block;
        margin-bottom: 0;

        input {
            display: inline-block;
            width: 100px;
            z-index: 2;
            position: relative;
        }

        .metric {
            display: inline-block;
            width: auto;
            height: 25px;
            padding: 6px 6px 5px;
            border:2px solid #0b0c0c;
            margin-left:-6px ;
            position: relative;
            z-index: 1;
            background-color: #F3F2F1;
            vertical-align: top;
        }
    }
}

.results-item {
    padding: 20px 0;
    border-top:1px solid #B1B4B6;
    list-style: none;
}

.result-icons {
    display: flex;

    .icon {
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 6px;
        background-repeat: no-repeat;
        width: 60%;
        font-size: 16px;
    }

    .pin {
        background-image: url('../images/plotter.png');
        padding-left: 30px;
        width: 40%;
    }

    .calendar {
        background-image: url('../images/calender.png');
    }
}

.results-list {
    padding: 0;
    margin: 0;

    .list-item-title {
        font-size: 24px;
        font-weight: bold;
    }
}


.result-head {
    display: flex;

    .details {
        width: 50%;
        text-align: right;

        &:first-child {
            padding-top: 15px;
            text-align: left;
        }
    }
}

.result-costs-list {
    color: #505A5F;

    li {

        display: inline-block;
        margin-right: 15px;
    }

    .result-figure {
        font-size: 16px;
        background-color: #1D70B8;
        color: #fff;
        display: inline-block;
        margin-left: 1px;
        padding: 5px 8px;
    }
}

.util-bar {
    margin-bottom: 20px;

    li {
        font-size: 18px;
        display: inline-block;
        background-repeat: no-repeat;
        padding-bottom: 20px;
        padding-top: 9px;
        padding-left: 43px;
        margin-right: 10px;

        &.download {
            background-image: url('../images/download.png');
        }

        &.share {
            background-image: url('../images/share.png');
        }
    }
}

.graph-wrapper {
    margin-bottom: 40px;
    border-top: 1px solid #B1B4B6;

    .govuk-tabs {
        margin-bottom: 0;
    }

    .figures {
        margin-top: -1px;
        background-color:#144E81;
        border: 1px solid #B1B4B6;
        padding: 20px;

        p {
            color: #fff;
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
        }

        .bold-figures {
            color: #fff;
            font-size: 36px;
            padding: 10px 30px 0;
        }
    }

    .graph {
        margin-top: 40px;
    }
}

.project-count-wrapper {
    margin: 30px 0 40px;
}


