//
.ccms-loader {
    border: 12px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader {
    margin-top: 30px;
    display: none;
}

.ajax-loader-text {
    text-align: center;
}
.bold-figures { 
    color:  #28A197;
    font-size: 80px;
    font-weight: bold;
}
.back-link-wrapper {
    margin-bottom: 20px;
}

.govuk-accordion__section {
    background-color: #e5e5e5;
    padding: 20px 20px 0px;
    margin-bottom: 15px;
}

.js-enabled {
    .govuk-accordion__section-header {
        border-top: 0;
    }

    .govuk-accordion__controls {
        display: inline-block;
        text-align: left;
        margin-bottom: 15px;
    }

    .govuk-accordion {
        border: none;

        label {
            font-size: 16px;
        }
    }
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .figures-data {
        .govuk-heading-s {
            margin-bottom: 10px;
        }
    }
}

.box-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;

    .box {
        border: 1px solid #B1B4B6;
        width: 27%;
        padding: 20px;

        .image-place-holer {
            background-color:#B1B4B6;
            height: 197px;
            width: 300px;
            margin-bottom: 20px;
        }
    }
}

.image-place-holder {
    background-color:#D2E2F1;
    margin-bottom: 20px;
    padding:25px;

    p {
        margin-bottom: 10px;
    }
}

.govuk-table__cell {
    text-align: right;
}

.no-border {
    .box {
        border: none;
        padding: 0;
    }
}

//.sort {
//    display: flex;
//    justify-content: flex-end;
//    margin-bottom: 10px;
//
//    label {
//        padding-top: 8px;
//        padding-right: 10px;
//    }
//}

.sort {
    select {
        width: 100%;
    }
}

.compare-dataset {
    background-color: #CCE2D8;
    display: flex;
    justify-content: right;
    margin: -50px 0 20px 0;
    text-align: right;

    .compare {
        width: 50%;
        padding: 20px 20px;

        p {
            margin: 8px 0 0 0;
        }

        .govuk-button {
            margin-bottom: 0;
        }

        &.left {
            text-align: left;
        }
    }
}

.no-bullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
    li {
        margin-bottom:10px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-accordion__section-button{
        font-size: 18px;
    }
}

.index{
    ul {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 35px;
    }

    .current-sprint {
        font-size: 18px;
    }

    li {
        margin-bottom: 8px;
        list-style: none;
    }
}

.blue {
    border: 2px solid #1D70B8;
}

.blue-alt{
    border: 1px solid #1D70B8;
}

.govuk-radios{
    .sectors {
        margin-bottom: 50px;
    }
}

.hidden {
    visibility: hidden;

    &:focus {
        visibility: visible;
    }
}

.ipa-custom-textfield {
    .govuk-form-group {
        //width: 100px;
        display: inline-block;
        margin-bottom: 0;
        width: 40%;

        &:first-child {
            margin-right: 15px;
        }

        input {
            display: inline-block;
            // width: 50%;
            z-index: 2;
            position: relative;
        }

        .metric {
            display: inline-block;
            width: auto;
            height: 25px;
            padding: 6px 6px 5px;
            border:2px solid #0b0c0c;
            margin-left:-6px ;
            position: relative;
            z-index: 1;
            background-color: #F3F2F1;
            vertical-align: top;
            font-size: 16px;
        }
    }
}

.results-item {
    padding: 20px 0;
    border-top:1px solid #B1B4B6;
    list-style: none;

    &:last-child {
        border-bottom:1px solid #B1B4B6;
    }
}

.result-icons {
    display: flex;

    .icon {
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 6px;
        background-repeat: no-repeat;
        width: 60%;
        font-size: 16px;
    }

    .pin {
        background-image: url('../images/plotter.png');
        padding-left: 30px;
        width: 40%;
    }

    .calendar {
        background-image: url('../images/calender.png');
    }
}

.results-list {
    padding: 0;
    margin: 0;

    .list-item-title {
        font-size: 24px;
        font-weight: bold;
    }
}


.result-head {
    display: flex;

    .details {
        width: 50%;
        text-align: right;

        &:first-child {
            padding-top: 15px;
            text-align: left;
        }
    }
}

.result-costs-list {
    color: #505A5F;

    li {

        display: inline-block;
        margin-right: 15px;
    }

    .result-figure {
        font-size: 16px;
        background-color: #1D70B8;
        color: #fff;
        display: inline-block;
        margin-left: 1px;
        padding: 5px 8px;
    }
}

.util-bar {
    margin-bottom: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #B1B4B6;
    border-top:1px solid #B1B4B6;
    display: flex;

    li {
        font-size: 18px;
        display: inline-block;
        background-repeat: no-repeat;
        padding: 10px 0;
        padding-left: 43px;
        margin-right: 10px;
        width: 50%;
        text-align: right;

        &:first-child {
            padding-left: 0;
            text-align: left;
        }

        a {
            position: relative;
        }

        &.download {
            //background-image: url('../images/download.png');



            a:before {
                content: '';
                position:absolute;
                background-image: url('../images/download.png');
                height: 40px;
                width: 40px;
                left: -45px;
                top: -9px;
            }
        }

        &.share {
            background-image: url('../images/share.png');
        }
    }
}

.graph-wrapper {
    margin-bottom: 40px;

    .govuk-tabs {
        margin-bottom: 0;
    }

    .figures {
        margin-top: -1px;
        background-color:#144E81;
        border: 1px solid #B1B4B6;
        padding: 20px;
        margin-bottom: 30px;

        p {
            color: #fff;
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
        }

        .bold-figures {
            color: #fff;
            font-size: 36px;
            padding: 10px 30px 0;
        }
    }

    .graph {
        margin-top: 40px;
        //margin-bottom: 30px;

        .image-wrapper {
            border: 1px solid #B1B4B6;
        }
    }
}

.graph-caption {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}

.project-count-wrapper {
    margin: 30px 0 40px;
}

.region-list{
     max-height: 210px;
     overflow-y: scroll;
}

.sticky{
    position: fixed;
    top:50px;
    max-width: 960px;
    width: 100%;
    z-index: 100;
}

.paginationjs-pages {
    ul {
        list-style: none;
        font-size: 20px;
        margin: 20px 0 0;
        padding: 0;
        float: right;

        li {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.asset-list {

    .govuk-fieldset {
        margin-bottom: 40px;
    }

    label {
        color: #0B0C0C;

        .govuk-caption-s {
            margin-top: 5px;
            display: block;
            color: #505A5F;
            font-size: 16px;
        }
    }
}

.ipa-data-table {
    font-size: 15px;
    margin-bottom: 120px;
}

.govuk-table {
    font-size: 15px;
    tr:nth-child(even) {
        background-color: #e5e5e5;
    }
}

.govuk-table__header,
.govuk-table__cell {
    text-align: left;
    padding: 10px;
}

.assetTitle{
    text-transform: capitalize;
}

.util-bar {
    .assetTitle {
        text-transform: lowercase;
    }
}

.sort-wrapper {
    display: flex;

    .govuk-form-group {
        width: 50%;
        justify-content:flex-end;
        text-align: right;
    }
}

.inline-metric {
    display: inline-block;
}

