{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Find and compare major projects data</h1>
        <p>You can use this service to find, compare and submit projects data for benchmarking.</p>
        <p>You should benchmark all projects during the early development phase. Benchmarking helps SROs and project teams to understand the cost, schedule, performance and outcomes at the project initiation stage.</p>
        <p><a href="benchmarking-start.html">Sign in to the service</a></p>
        <p>This service is delivered by the Infrastructure and Projects Authority (IPA). The IPA supports the successful delivery of all types of major projects, of which benchmarking is a significant part.</p>

        <h2 class="govuk-heading-l">What project data can I find in this service?</h2>

        <p>This service includes data from major GMPP projects.</p>
        <p>A major project is a project that is innovative or contentious and requires spending above departmental expenditure and primary legislation.</p>
        <p>This service contains cost, performance and carbon data for completed projects. You can search and compare this data for benchmarking purposes, or submit your own project data to help others benchmark.</p>
        <p>The data in this service has been normalised for inflation in Q1 2020.</p>

        <h2 class="govuk-heading-l">Who should benchmark?</h2>
        <p>Benchmarking can be done by decision makers, third party providers, project sponsors and delivery teams across the private and public sector. </p>


        <h2 class="govuk-heading-l">Who should benchmark?</h2>
        <p>The data on this service has been cleansed and normalised. Below is a useful glossy of terms used. More information can also be found in <a href="#">IPA’s Best Practice in Benchmarking</a>.</p>

        <h3 class="govuk-heading-m">Asset </h3>
        <p>An asset is the deliverable from a project such as a tunnel, hospital or road.</p>

        <h3 class="govuk-heading-m">Outturn </h3>
        <p>The outturn cost of a project is the final construction cost of the asset. These are normalised for inflation.</p>

        <h3 class="govuk-heading-m">Benchmark Indicative Asset Cost </h3>
        <p>A benchmark indicative asset cost (BIAC) is the approximate cost of an infrastructure asset such as a station, viaducts, tracks, drainage and tunnels.</p>

        <h3 class="govuk-heading-m">Benchmark Indicative Non-Asset Cost </h3>
        <p>A benchmark Indicative Non-Asset Cost (BINAC) can be allocated to non-asset components. These are split into direct, indirect and unique cost categories. </p>

        <h3 class="govuk-heading-m">Direct cost </h3>
        <p>These are costs such as labour, material, plant and equipment. They are directly accountable to the project including overhead and profits.</p>

        <h3 class="govuk-heading-m">Indirect cost</h3>
        <p>Indirect costs cannot be attributed to any one section of the works: they may be fixed or time related. These could include design costs.</p>

        <h2 class="govuk-heading-l">What should I do if I can’t find the data I need?</h2>
        <p>If you can’t find data that’s relevant to your benchmarking project, you can contact IPA to request data or ask for support.</p>
        <p>This service is built on shared data and is reliant on delivery teams submitting their own data at the end of a project.</p>

    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--visible blue-alt" style="margin: 20px 0 15px;">
        <h2 class="govuk-heading-m">Related information</h2>
        <ul class="no-bullet">
            <li><a href="#">Best practice in benchmarking</a></li>
            <li><a href="#">How to write a business case</a></li>
            <li><a href="#">About IPA</a></li>
            <li><a href="#">IPA: Assurance review toolkit</a></li>
        </ul>
    </div>
</div>
{% endblock %}