{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "#"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="asset-list radio-list">
            <div class="govuk-form-group">
                <form action="benchmarking-results" id="selectAssetType" class="select-asset-type">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Which asset type are you looking for?
                                </h1>
                            </legend>
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      Help with asset
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    We need to know your nationality so we can work out which elections you’re entitled
                                    to vote in. If you cannot provide your nationality, you’ll have to send copies of
                                    identity documents through the post.
                                </div>
                            </details>
                            <div id="contact-hint" class="govuk-hint govuk-visually-hidden">
                                Select one option.
                            </div>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="economic-infrastructure" name="economic-infrastructure" type="radio"
                                           value="" data-aria-controls="conditional-economic" checked>
                                    <label class="govuk-label govuk-radios__label" for="economic-infrastructure">
                                        Economic infrastructure
                                        <span class="govuk-caption-s">This is an asset that adds value to the economy for instance roads or tunnels</span>
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                     id="conditional-economic">
                                    <div class="govuk-form-group">
                                        <div class="govuk-radios govuk-radios--small" id="economic"></div>
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="social-infrastructure" name="contact" type="radio"
                                           value="" data-aria-controls="conditional-social">
                                    <label class="govuk-label govuk-radios__label" for="social-infrastructure">
                                        Social infrastructure
                                        <span class="govuk-caption-s">This is an asset that adds value to citizens such as hospitals, schools</span>
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                     id="conditional-social">
                                    <div class="govuk-form-group">
                                        <div class="govuk-radios govuk-radios--small" id="social"></div>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="military-buildings" name="contact" type="radio"
                                           value="" data-aria-controls="conditional-military">
                                    <label class="govuk-label govuk-radios__label" for="military-buildings">
                                        Military buildings
                                        <span class="govuk-caption-s">This covers military buildings only</span>
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                     id="conditional-military">
                                    <div class="govuk-form-group">
                                        <div class="govuk-radios govuk-radios--small" id="military"></div>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="technology" name="contact" type="radio"
                                           value="" data-aria-controls="conditional-technology">
                                    <label class="govuk-label govuk-radios__label" for="technology">
                                        Information and technology
                                        <span class="govuk-caption-s">These are IT projects within government</span>
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                     id="conditional-technology">
                                    <div class="govuk-form-group">
                                        <div class="govuk-radios govuk-radios--small select-asset-type" id="informationTechnology"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--                    <fieldset class="govuk-fieldset" aria-describedby="disability-hint">-->
                    <!--                        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;l">-->
                    <!--                            <h1 class="govuk-fieldset__heading">-->
                    <!--                                <span class="govuk-caption-xl">Question 1 of 2</span>-->
                    <!--                                What asset are you looking for?-->
                    <!--                            </h1>-->
                    <!--                        </legend>-->
                    <!--                        <details class="govuk-details" data-module="govuk-details">-->
                    <!--                            <summary class="govuk-details__summary">-->
                    <!--                                <span class="govuk-details__summary-text">-->
                    <!--                                  Help with asset-->
                    <!--                                </span>-->
                    <!--                            </summary>-->
                    <!--                            <div class="govuk-details__text">-->
                    <!--                                We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.-->
                    <!--                            </div>-->
                    <!--                        </details>-->
                    <!--                        <div id="disability-hint" class="govuk-hint govuk-visually-hidden">-->
                    <!--                           Please select an asset to compare?-->
                    <!--                        </div>-->
                    <!--                        <p class="project-count-wrapper govuk-body govuk-!-font-size-24">Showing <span class="project-count govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-27">29</span> projects</p>-->
                    <!--                        <div class="govuk-radios select-asset-type"></div>-->
                    <!--                    </fieldset>-->
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            <p>Can’t find what you’re looking for? <a href="#">Contact us</a></p>
        </div>
    </div>
</div>
{% endblock %}