{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Government",
href: "#"
},
{
text: "Infrastructure and Projects Authority"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Economic infrastructure projects
        </h1>
    </div>

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Sign in</h2>


        {{ govukInput({
        label: {
        text: "Email",
        classes: "govuk-label--m",
        isPageHeading: true
        },
        id: "email",
        name: "email",
        type: "email"
        }) }}

        {{ govukInput({
        label: {
        text: "Password",
        classes: "govuk-label--m",
        isPageHeading: true
        },
        id: "password",
        name: "password",
        type: "password"
        }) }}


        {{ govukButton({
        text: "Sign in",
        href: "benchmarking-asset"
        }) }}

        <p><a href="#">Forgotten your Password?</a></p>
    </div>
    <div class="govuk-grid-column-one-thirds">
        <h2 class="govuk-heading-m">Related information</h2>
        <ul class="no-bullet">
            <li><a href="#">About Infrastructure Project Benchmarking</a></li>
            <li><a href="#">Who should register for IPA Benchmarking</a></li>
        </ul>
    </div>
</div>

{% endblock %}v