{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Government",
href: "#"
},
{
text: "Infrastructure and Projects Authority"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">IPA benchmarking data service</h1>
        <p>You can use this service to find, compare and submit project data for benchmarking.</p>

        <p><a class="govuk-link" href="benchmarking-start">Start finding and comparing benchmarking data</a></p>
        <p><a class="govuk-link" href="#">Submit completed project data</a></p>

        <h2 class="govuk-heading-l">What should I do before using this service?</h2>

        <p>Before using this service you should decide what you want to benchmark. To do this you should:</p>

        <ol class="govuk-list govuk-list--number">
            <li>Decide your project objectives and metrics and link a benchmark to each one. Benchmarks should measure project costs, carbon and performance.</li>
            <li>Break your project down into separate components for benchmarking. Components can be assets, non-assets or functions.</li>
        </ol>

        <h2 class="govuk-heading-l">What is benchmarking?</h2>

        <p>Benchmarking uses data and experience from completed projects to better inform new project development and decision making. It provides assurance during project planning.</p>

        <p>You should benchmark all projects during the early development phase.</p>

        <p>Benchmarking helps SROs and project teams to understand the cost, schedule, performance and outcomes at the project initiation stage. An understanding of a project’s cost, carbon and performance is critical to good decision making and successful delivery.</p>

        <p>This service is delivered by the Infrastructure and Projects Authority (IPA). The IPA supports the successful delivery of all types of major projects, of which benchmarking is a significant part.</p>

        <p><a class="govuk-link" href="#">The Sourcing Playbook</a> and <a class="govuk-link" href="#">Construction Playbook</a> are useful extra reading.</p>

        <h2 class="govuk-heading-l">Who should benchmark?</h2>

        <p>Benchmarking can be done by decision makers, third party providers, project sponsors and delivery teams across the private and public sector.</p>

        <p>You should use benchmarking while creating a project business case. Benchmarking can be used at GW0 to GW5 in the business case process.</p>

        <p>You can <a class="govuk-link" href="#">read the guide to developing a business case</a> here.</p>

        <p>Benchmarking provides a valuable point of reference from past projects. This service is built on shared data and is reliant on delivery teams submitting their own data at the end of a project.</p>

        <h2 class="govuk-heading-l">What project data can I find in this service?</h2>

        <p>This service includes data from major GMPP projects.</p>

        <p>This database includes cost, performance and carbon data for completed projects. You can search and compare this data for benchmarking purposes, or submit your own project data to help others benchmark.</p>

        <p>The data in this service has been normalised for inflation in Q1 2021 using the CPIH index.</p>

        <h2 class="govuk-heading-l">Why is carbon now a part of benchmarking?</h2>

        <p>To help support the government’s net zero ambitions, you should benchmark carbon emissions to make more informed decisions and use as a reference point through a project’s life cycle.</p>

        <p>To find out more about construction and carbon, <a class="govuk-link" href="#">read the Construction Playbook</a>.</p>

        <h2 class="govuk-heading-l">Glossary of key words</h2>

        <h3 class="govuk-heading-m">Asset</h3>

        <p>An asset is the deliverable from a project such as a tunnel, hospital or road.</p>

        <h3 class="govuk-heading-m">Benchmark Indicative Asset Cost</h3>

        <p>A benchmark indicative asset cost (BIAC) is the approximate cost of an infrastructure asset such as a station, viaducts, tracks, drainage and tunnels.</p>

        <h3 class="govuk-heading-m">Benchmark Indicative Non-Asset Cost</h3>

        <p>A benchmark Indicative Non-Asset Cost (BINAC) can be allocated to non-asset components. These are split into direct, indirect and unique cost categories.</p>

        <h3 class="govuk-heading-m">Direct cost</h3>

        <p>These are costs such as labour, material, plant and equipment. They are directly accountable to the project including overhead and profits.</p>

        <h3 class="govuk-heading-m">Indirect cost</h3>

        <p>Indirect costs cannot be attributed to any one section of the works: they may be fixed or time related. These could include design costs.</p>

        <h3 class="govuk-heading-m">Non-asset cost</h3>

        <p>A non-asset cost is a cost that is not directly linked to the asset, for example land or construction costs.</p>

        <h3 class="govuk-heading-m">Outturn</h3>

        <p>The outturn cost of a project is the final construction cost of the asset. These are normalised for inflation.</p>

        <h3 class="govuk-heading-m">Should Cost Model</h3>

        <p>A Should Cost Model provides a forecast of what a service, project or programmes ‘should’ cost over its whole life.</p>

        <h2 class="govuk-heading-l">What should I do if I can’t find the data I need?</h2>

        <p>If you can’t find data relevant to your benchmarking project, you can <a class="govuk-link" href="#">contact IPA</a> to request data or ask for support.</p>

        <p>You can also contact IPA if you use assistive technology and need a more accessible version of this service.</p>

    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--visible blue-alt" style="margin: 20px 0 15px;">
        <h2 class="govuk-heading-m">Related information</h2>
        <ul class="no-bullet">
            <li><a href="#">Best practice in benchmarking</a></li>
            <li><a href="#">How to write a business case</a></li>
            <li><a href="#">About IPA</a></li>
            <li><a href="#">IPA: Assurance review toolkit</a></li>
        </ul>
    </div>
</div>
{% endblock %}