{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset criteria"  aria-describedby="disability-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" style="margin-bottom: 40px">
                            <span class="govuk-caption-xl">Question 2 of 2</span>
                            What asset criteria would you like to compare?
                        </h1>
                    </legend>

                    <h2 class="govuk-heading-m">Physical measurements</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Length
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Height
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                             Volume
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>

                    <h2 class="govuk-heading-m">Construction features</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Ground type
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">

                            </div>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Material
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">

                            </div>
                        </div>
                    </details>

                    <h2 class="govuk-heading-m">Asset details</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Region
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Sector
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Work type
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                        </div>
                    </details>
                </fieldset>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>


    </div>
</div>
{% endblock %}