{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="asset-list radio-list">
            <div class="govuk-form-group">
                <form action="benchmarking-results" id="selectAssetType">
                    <fieldset class="govuk-fieldset" aria-describedby="disability-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-xl">Question 1 of 2</span>
                                What type of asset would you like to compare?
                            </h1>
                        </legend>
                        <div id="disability-hint" class="govuk-hint govuk-visually-hidden">
                           Please select an asset to compare?
                        </div>
                        <p class="project-count-wrapper govuk-body govuk-!-font-size-24">Showing <span class="project-count govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-27">29</span> projects</p>
                        <div class="govuk-radios select-asset-type"></div>
                    </fieldset>
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            <p>Can’t find what you’re looking for? <a href="#">Contact us</a></p>
        </div>
    </div>
</div>
{% endblock %}