<!--<div class="govuk-form-group">-->
<!--    <fieldset class="govuk-fieldset">-->
<!--                <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
<!--                    <h1 class="govuk-fieldset__heading">-->
<!--                        Organisation-->
<!--                    </h1>-->
<!--                </legend>-->
<!--        <div class="govuk-checkboxes govuk-checkboxes&#45;&#45;small" data-module="govuk-checkboxes">-->
<!--            <div class="govuk-checkboxes__item">-->
<!--                <input class="govuk-checkboxes__input" id="under10" name="construction_duration" type="checkbox" value="<_10">-->
<!--                <label class="govuk-label govuk-checkboxes__label" for="under10">-->
<!--                    Less than 10 weeks-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="govuk-checkboxes__item">-->
<!--                <input class="govuk-checkboxes__input" id="ten25" name="construction_duration" type="checkbox" value="10_25">-->
<!--                <label class="govuk-label govuk-checkboxes__label" for="ten25">-->
<!--                    10 -  25 weeks-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="govuk-checkboxes__item">-->
<!--                <input class="govuk-checkboxes__input" id="twentyfive50" name="construction_duration" type="checkbox" value="25_50">-->
<!--                <label class="govuk-label govuk-checkboxes__label" for="twentyfive50">-->
<!--                    25 - 50 weeks-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="govuk-checkboxes__item">-->
<!--                <input class="govuk-checkboxes__input" id="plus50" name="construction_duration" type="checkbox" value=">_50" checked>-->
<!--                <label class="govuk-label govuk-checkboxes__label" for="plus50">-->
<!--                    More than 50 weeks-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->

<!--    </fieldset>-->
<!--</div>-->

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
<!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
<!--            <h1 class="govuk-fieldset__heading">-->
<!--                Filter-->
<!--            </h1>-->
<!--        </legend>-->
        <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input filter-item" id="under10" name="construction_duration" type="radio" value="<_10">
                <label class="govuk-label govuk-radios__label" for="under10">
                    Less than 10 weeks
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input filter-item" id="ten25" name="construction_duration" type="radio" value="10_25">
                <label class="govuk-label govuk-radios__label" for="ten25">
                    10 -  25 weeks
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input filter-item" id="twentyfive50" name="construction_duration" type="radio" value="25_50">
                <label class="govuk-label govuk-radios__label" for="twentyfive50">
                    25 - 50 weeks
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input filter-item" id="plus50" name="construction_duration" type="radio" value=">_50" checked>
                <label class="govuk-label govuk-radios__label" for="plus50">
                    More than 50 weeks
                </label>
            </div>
        </div>

    </fieldset>
</div>