<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
<!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
<!--            <h1 class="govuk-fieldset__heading">-->
<!--                Sand-->
<!--            </h1>-->
<!--        </legend>-->
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input filter-item" id="soft" name="groundType" type="checkbox" value="soft">
                <label class="govuk-label govuk-checkboxes__label" for="soft">
                    Soft
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input filter-item" id="clay" name="groundType" type="checkbox" value="clay">
                <label class="govuk-label govuk-checkboxes__label" for="clay">
                    Clay
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input filter-item" id="mix" name="groundType" type="checkbox" value="mix">
                <label class="govuk-label govuk-checkboxes__label" for="mix">
                    Mixture of sand and clay
                </label>
            </div>
        </div>
    </fieldset>
</div>