<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sand" name="groundType" type="radio" value="sand">
                <label class="govuk-label govuk-radios__label" for="sand">
                    Sand
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="clay" name="groundType" type="radio" value="clay">
                <label class="govuk-label govuk-radios__label" for="clay">
                    Clay
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mix" name="groundType" type="radio" value="mix">
                <label class="govuk-label govuk-radios__label" for="mix">
                    Mixture of sand and clay
                </label>
            </div>
        </div>
    </fieldset>
</div>