<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="ipa-custom-textfield">
            <div class="govuk-form-group">
                <label class="govuk-label" for="minLength">
                    Minimum <span class="govuk-visually-hidden">Please input physical measurements min length</span>
                </label>
                <input class="govuk-input" id="minLength" name="minLength" type="text" autocomplete="minLength">
<!--                <span class="metric govuk-body">metre</span>-->
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="maxLength">
                    Maximum<span class="govuk-visually-hidden">Please input physical measurements max length</span>
                </label>
                <input class="govuk-input" id="maxLength" name="maxLength" type="text" autocomplete="maxLength">
<!--                <span class="metric govuk-body">metre</span>-->
            </div>
        </div>
    </fieldset>
</div>