<fieldset class="govuk-fieldset">
    <div class="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cement" name="material" type="radio" value="cement">
            <label class="govuk-label govuk-radios__label" for="cement">
                Cement
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="stoneGravel" name="material" type="radio" value="stoneGravel">
            <label class="govuk-label govuk-radios__label" for="stoneGravel">
                Stone and gravel
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other" name="material" type="radio" value="other">
            <label class="govuk-label govuk-radios__label" for="other">
                Other materials
            </label>
        </div>
    </div>
</fieldset>