<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="public" name="sector" type="radio" value="public">
                <label class="govuk-label govuk-radios__label" for="public">
                    Public
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="private" name="sector" type="radio" value="private">
                <label class="govuk-label govuk-radios__label" for="private">
                    Private
                </label>
            </div>
        </div>
    </fieldset>
</div>