<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <!--        <legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
        <!--            <h1 class="govuk-fieldset__heading">-->
        <!--                Organisation-->
        <!--            </h1>-->
        <!--        </legend>-->
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input filter-item" id="public" name="sector" type="checkbox" value="public">
                <label class="govuk-label govuk-checkboxes__label" for="public">
                    Public
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input filter-item" id="private" name="sector" type="checkbox" value="private">
                <label class="govuk-label govuk-checkboxes__label" for="private">
                    Private
                </label>
            </div>
        </div>

    </fieldset>
</div>