<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="ipa-custom-textfield">
            <div class="govuk-form-group">
                <label class="govuk-label" for="minVolume">
                    Minimum <span class="govuk-visually-hidden">Please input physical measurements for min volume</span>
                </label>
                <input class="govuk-input" id="minVolume" name="minVolume" type="text" autocomplete="minVolume">
                <span class="metric govuk-body">m³</span>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="maxVolume">
                    Maximum<span class="govuk-visually-hidden">Please input physical measurements for min volume</span>
                </label>
                <div>
                    <input class="govuk-input" id="maxVolume" name="maxVolume" type="text" autocomplete="maxVolume">
                    <span class="metric govuk-body">m³</span>
                </div>
            </div>
        </div>
    </fieldset>
</div>