<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="new" name="workType" type="radio" value="new">
                <label class="govuk-label govuk-radios__label" for="new">
                    New construction
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="maintenanceRepair" name="workType" type="radio" value="repair">
                <label class="govuk-label govuk-radios__label" for="maintenanceRepair">
                    Maintenance and repair
                </label>
            </div>
        </div>
    </fieldset>
</div>