{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset criteria"  aria-describedby="disability-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" style="margin-bottom: 40px">
                            <span class="govuk-caption-xl">Question 2 of 2</span>
                            What asset criteria would you like to compare?
                        </h1>
                    </legend>

                    <h2 class="govuk-heading-m">Physical measurements</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Length
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <fieldset class="govuk-fieldset">
                                <div class="ipa-custom-textfield">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="minLength">
                                            Minimum <span class="govuk-visually-hidden">Please input physical measurements min length</span>
                                        </label>
                                        <input class="govuk-input" id="minLength" name="minLength" type="text" autocomplete="minLength">
                                        <span class="metric">metre</span>
                                    </div>

                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="address-line-2">
                                            Maximum<span class="govuk-visually-hidden">Please input physical measurements max length</span>
                                        </label>
                                        <input class="govuk-input" id="maxLength" name="maxLength" type="text" autocomplete="maxLength">
                                        <span class="metric">metre</span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Height
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <fieldset class="govuk-fieldset">
                                <div class="ipa-custom-textfield">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="minHeight">
                                            Minimum <span class="govuk-visually-hidden">Please input physical measurements for min height</span>
                                        </label>
                                        <input class="govuk-input" id="minHeight" name="minHeight" type="text" autocomplete="minHeight">
                                        <span class="metric">metre</span>
                                    </div>

                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="maxHeight">
                                            Maximum<span class="govuk-visually-hidden">Please input physical measurements for max height</span>
                                        </label>
                                        <input class="govuk-input" id="maxHeight" name="minHeight" type="text" autocomplete="maxHeight">
                                        <span class="metric">metre</span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                             Volume
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <fieldset class="govuk-fieldset">
                                <div class="ipa-custom-textfield">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="minVolume">
                                            Minimum <span class="govuk-visually-hidden">Please input physical measurements for min volume</span>
                                        </label>
                                        <input class="govuk-input" id="minVolume" name="minVolume" type="text" autocomplete="minVolume">
                                        <span class="metric">cubic metre</span>
                                    </div>

                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="maxVolume">
                                            Maximum<span class="govuk-visually-hidden">Please input physical measurements for min volume</span>
                                        </label>
                                        <div>
                                            <input class="govuk-input" id="maxVolume" name="maxVolume" type="text" autocomplete="maxVolume">
                                            <span class="metric">cubic metre</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>

                    <h2 class="govuk-heading-m">Construction features</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Ground type
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                                England
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                Scotland
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                                Wales
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Material
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                                England
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                Scotland
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                                Wales
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>

                    <h2 class="govuk-heading-m">Asset details</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Region
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div id="waste-hint hidden" class="govuk-hint">
                                        Select all that apply.
                                    </div>
                                    <div class="govuk-checkboxes region-list" data-module="govuk-checkboxes"></div>
                                </fieldset>
                            </div>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Sector
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__heading">
                                            Where do you live?
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                                England
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                Scotland
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Work type
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                        <h1 class="govuk-fieldset__heading">
                                            Where do you live?
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                                England
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                Scotland
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>


                </fieldset>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>


    </div>
</div>
{% endblock %}