{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="asset-list radio-list">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="disability-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-xl">Question 2 of 2</span>
                            What asset criteria would you like to compare?
                        </h1>
                    </legend>

                    <div class="govuk-radios"></div>
                </fieldset>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>

        </div>
    </div>
</div>
{% endblock %}