{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Find and compare major projects data
        </h1>

        <p>You can use this service to find and compare data from completed projects to benchmark your own project. </p>
        <p>You should benchmark all projects during the early development phase. This service is delivered by the
            Infrastructure and Projects Authority (IPA).</p>
        <p> The IPA supports the successful delivery of all types of major projects, of which benchmarking is a
            significant part.</p>
    </div>

    <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--visible blue-alt" style="margin: 20px 0 15px;">
        <h2 class="govuk-heading-m">Related information</h2>
        <ul class="no-bullet">
            <li><a href="#">Best practice in benchmarking</a></li>
            <li><a href="#">How to write a business case</a></li>
            <li><a href="#">About IPA</a></li>
            <li><a href="#">IPA: Assurance review toolkit</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="box-stack">
            <div class="box">
                <h3 class="govuk-heading-m"><a href="#">Get benchmarking data</a></h3>
                <p>Submit your data to the IPA projects database</p>
            </div>
            <div class="box">
                <h3 class="govuk-heading-m"><a href="#">Request support from IPA</a></h3>
                <p>Submit your data to the IPA projects database</p>
            </div>
            <div class="box">
                <h3 class="govuk-heading-m"><a href="#">Submit data for your completed project</a></h3>
                <p>Submit your data to the IPA projects database</p>
            </div>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible blue" style="margin: 20px 0 15px;">

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">
            Case studies
        </h2>

        <div class="box-stack no-border">
            <div class="box">
                <div class="image-place-holer"></div>
                <p class="govuk-!-margin-1">Case Study</p>
                <h3 class="govuk-heading-m govuk-!-margin-1"><a href="#">Network Rail</a></h3>

            </div>
            <div class="box">
                <div class="image-place-holer"></div>
                <p class="govuk-!-margin-1">Case Study</p>
                <h3 class="govuk-heading-m govuk-!-margin-1"><a href="#">Environment Agency</a></h3>
            </div>
            <div class="box">
                <div class="image-place-holer"></div>
                <p class="govuk-!-margin-1">Case Study</p>
                <h3 class="govuk-heading-m govuk-!-margin-1"><a href="#">The new prison at Glen Parva</a></h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}