
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-width-two-thirds">
                <h1 class="govuk-heading-l">
                    Goverment major project data
                </h1>
                <p>This year’s GMPP snapshot comprises 184 projects with a total Whole Life Cost (WLC) of £542bn and £826bn of monetised benefits that are delivered by 18 departments and their arm’s- length bodies.</p>
            </div>

            <div class="govuk-!-width-two-thirds">
                <h1 class="govuk-heading-l">
                    Goverment major project data
                </h1>
                <p>This year’s GMPP snapshot comprises 184 projects with a total Whole Life Cost (WLC) of £542bn and £826bn of monetised benefits that are delivered by 18 departments and their arm’s- length bodies.</p>
            </div>

        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 20px 0 15px;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-8">Goverment Major Projects overview</h2>
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>
            <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Economic infrastructure projects</h2>
                <p c>Infrastructure and Construction projects include improving and maintaining the UK’s energy, environment, transport, telecommunications, sewage and water systems; and constructing new public buildings. These high investment projects are essential to the nation’s economic growth, development and prosperity.</p>
            </div>
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>2019/20 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>2019 (<a href="#">source</a>)</p>
                </div>
            </div>
            <p><a href="#">Explore Economic infrastructure project cost data</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">



        <div class="govuk-grid-column-full">
            <div class="govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Social infrastructure projects</h2>
                <p>What are the Social infrastructure projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
            </div>
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£XXX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">XX.XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>
            <p><a href="#">Explore Social infrastructure project cost data</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">
    
    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Military capability projects</h2>
                <p>What are the Military capability projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
            </div>
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£XXX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">XX.XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>
            <p><a href="#">Explore Military capability project cost data</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Information and technology projects</h2>
                <p>What are the Information and technology projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
            </div>
            
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£XXX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">XX.XX</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>

            <p><a href="#">Explore Information and technology project cost data</a></p>
        </div>
    </section>

{% endblock %}