
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Goverment major project data
        </h1>
        <p>Summary of year 2020/21</p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 20px 0 15px;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-8">Goverment Major Projects overview</h2>
            <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>
            <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Economic infrastructure projects</h2>
                <p>What are the Economic infrastructure projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>


                <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Social infrastructure projects</h2>
                <p>What are the Social infrastructure projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
                <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>

                <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">
    
    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Military capability projects</h2>
                <p>What are the Military capability projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
                <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>

                <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

    <hr class="govuk-section-break govuk-section-break--visible" style="margin: 25px 0;">

    <section class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Information and technology projects</h2>
                <p>What are the Information and technology projects? What the Goverment has achieved in terms of faster, better and greener infrastructure and constructions delivery.</p>
                <div class="figures">
                <div class="figures-data">
                    <p class="govuk-heading-s">Number of live projects</p>
                    <p class="bold-figures">184</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Whole life cost</p>
                    <p class="bold-figures">£542bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
                <div class="figures-data">
                    <p class="govuk-heading-s">Moneitised benefits</p>
                    <p class="bold-figures">£826bn</p>
                    <p>At Mar 2021 (<a href="#">source</a>)</p>
                </div>
            </div>

                <p><a href="#">Explore published data in Goverment Major Project Portfolio</a></p>
        </div>
    </section>

{% endblock %}