{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row index">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Infrastructure and projects authority - Benchmarking
            <span class="govuk-caption-xl">Current revision</span>
        </h1>{{releaseVersion | log }}
        <p></p>
        <p></p>
        <h2 class="govuk-heading-l">Sprint 4 (Latest)</h2>

        <p class="govuk-heading-s">version: 4.1</p>
        <ul class="current-sprint">
            <li><a class="govuk-link" href="/i4v1/pages/benchmarking-home.html">Benchmarking Home</a></li>
            <li><a class="govuk-link" href="/i4v1/pages/benchmarking-start.html">Benchmarking Start page</a></li>
            <li><a class="govuk-link" href="/i4v1/pages/benchmarking-sign-in.html">Benchmarking Sign in</a>
            <li><a href="/i4v1/pages/benchmarking-asset.html">Benchmarking Asset</a></li>
                <ul class="govuk-list" style="margin: 20px 0 20px; margin-left: 20px ">
                    <li>&hookrightarrow; Benchmarking Results</li>
                    <li>&hookrightarrow; Benchmarking Detail</li>
                </ul>
            </li>
        </ul>

        <p class="govuk-heading-s">version: 4</p>
        <ul>
            <li><a class="govuk-link" href="/i4/pages/benchmarking-home.html">Benchmarking Home</a></li>
            <li><a href="/i4/pages/benchmarking-start.html">Benchmarking Start page</a></li>
            <li><a href="/i4/pages/benchmarking-sign-in.html">Benchmarking Sign in</a></li>
            <li><a href="/i4/pages/benchmarking-asset.html">Benchmarking Asset</a></li>
<!--            <li><a href="/i4/pages/benchmarking-characteristics.html">Benchmarking Characteristics</a></li>-->
            <li><a href="/i4/pages/benchmarking-results.html">Benchmarking Results</a></li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
            </summary>
            <div class="govuk-details__text">
                <ul>
                </ul>
            </div>
        </details>

        <h2 class="govuk-heading-l">Sprint 3</h2>

        <p class="govuk-heading-s">version: 3.1</p>
        <ul>
            <li><a href="/i3/pages/benchmarking-home.html">Benchmarking Home</a></li>
            <li><a href="/i3/pages/benchmarking-sign-in.html">Benchmarking Sign in</a></li>
            <li><a href="/i3/pages/benchmarking-asset.html">Benchmarking Asset</a></li>
            <li><a href="/i3/pages/benchmarking-characteristics.html">Benchmarking Characteristics</a></li>
            <li><a href="/i3/pages/benchmarking-results.html">Benchmarking Results</a></li>
        </ul>

        <p class="govuk-heading-s">version: 3</p>
        <ul>
            <li><a href="pages/login-page.html">Login Page</a></li>
            <li><a href="pages/infrastructure-projects.html">Benchmarking Projects</a></li>
            <li><a href="pages/benchmarking-summary.html">Benchmarking Summary</a></li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
            </summary>
            <div class="govuk-details__text">
                <ul>
                </ul>
            </div>
        </details>

        <h2 class="govuk-heading-m">Sprint 2</h2>


        <ul>
            <li><a href="pages/login-page.html">Login Page</a></li>
            <li><a href="pages/infrastructure-projects.html">Filter Page</a></li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
            </summary>
            <div class="govuk-details__text">
                <ul>
                </ul>
            </div>
        </details>

        <h2 class="govuk-heading-m">Sprint 1</h2>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
            </summary>
            <div class="govuk-details__text">
                <ul>
                </ul>
            </div>
        </details>


        <h2 class="govuk-heading-m">Page templates</h2>

        <p><a href="/i4v1/pages/benchmarking-home.html">IPA Guidance page</a></p>

        <h2 class="govuk-heading-m">Examples and documentation</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
