
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Infrastructure and projects authority - Benchmarking
        <span class="govuk-caption-xl">Current revision</span>
      </h1>{{releaseVersion | log }}
      <p></p>

      <p></p>

      <h2 class="govuk-heading-m">Sprint 2 (In progress)</h2>

      <p><a href="pages/filter.html">Prototype - Ftilter page</a></p>

     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
       </summary>
       <div class="govuk-details__text">
         <ul>
         </ul>
       </div>
      </details>

      <h2 class="govuk-heading-m">Sprint 1</h2>

      <h3 class="govuk-heading-m">Prototypes</h3>

     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
       </summary>
       <div class="govuk-details__text">
         <ul>
         </ul>
       </div>
      </details>

 

      <h2 class="govuk-heading-m">Page templates</h2>

      <p><a href="templates/guidance.html">Guidance pages</a></p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
